<a href="/"><button type="button" class="btn btn-primary">View Photos</button></a>
<a href="/upload"><button type="button" class="btn btn-primary">Add Photos</button></a>
{{#if user}}
    <a href="/privateGallery"><button type="button" class="btn btn-primary">My Photos</button></a>
{{/if}}

 
 